node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# dummy-server stuff
dummy-server/node_modules/**/*

# macOS
.DS_Store

# server build
gallery-api-0.0.1-SNAPSHOT.jar